#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "Contacts Manager (GUI) 1.0.1 CB.exe.manifest"

IDD_INPUT_DIALOG DIALOG 0, 0, 260, 110
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Add Contact"
FONT 10, "Segoe UI"
BEGIN
LTEXT           "Name:", IDC_STATIC, 10, 10, 30, 10
LTEXT           "Number:", IDC_STATIC, 10, 30, 30, 10
LTEXT           "E-Mail:", IDC_STATIC, 10, 50, 30, 10
LTEXT           "Address:", IDC_STATIC, 10, 70, 30, 10
EDITTEXT        IDE_NAME, 50, 10, 200, 12, ES_AUTOHSCROLL
EDITTEXT        IDE_NUMBER, 50, 30, 200, 12, ES_AUTOHSCROLL
EDITTEXT        IDE_EMAIL, 50, 50, 200, 12, ES_AUTOHSCROLL
EDITTEXT        IDE_ADDRESS, 50, 70, 200, 12, ES_AUTOHSCROLL
PUSHBUTTON      "Add", IDB_ADD, 146, 90, 50, 14
PUSHBUTTON      "Cancel", IDB_CANCEL, 200, 90, 50, 14
END

IDD_EDIT_DIALOG DIALOG 0, 0, 260, 110
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit Contact"
FONT 10, "Segoe UI"
BEGIN
LTEXT           "Name:", IDC_STATIC, 10, 10, 30, 10
LTEXT           "Number:", IDC_STATIC, 10, 30, 30, 10
LTEXT           "E-Mail:", IDC_STATIC, 10, 50, 30, 10
LTEXT           "Address:", IDC_STATIC, 10, 70, 30, 10
EDITTEXT        IDE_NAME, 50, 10, 200, 12, ES_AUTOHSCROLL
EDITTEXT        IDE_NUMBER, 50, 30, 200, 12, ES_AUTOHSCROLL
EDITTEXT        IDE_EMAIL, 50, 50, 200, 12, ES_AUTOHSCROLL
EDITTEXT        IDE_ADDRESS, 50, 70, 200, 12, ES_AUTOHSCROLL
PUSHBUTTON      "OK", IDB_OK, 146, 90, 50, 14
PUSHBUTTON      "Cancel", IDB_CANCEL, 200, 90, 50, 14
END
